body{
    background-color: rgb(0, 0, 0);
}
.caixa{background-color: rgb(31, 129, 31);
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 15px;
    
margin-top: 250px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}
input{
    display: flex;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    padding: 10px;
    
}
button{
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}